body{
    background-color: rgb(242,242,242);
}
.gold-color{
    color: #FFD700;
}
.fa.gold-color{
    transition: all .3s ease-in-out;
}
.main-rate >i{
    padding-left: 5px;
}
.rate-it >i{
    cursor: pointer;
    padding-left: 5px;
}
.box-shadow{
    box-shadow: 0 0 8px rgba(0,0,0,.6)
}
.padding-top-0{
    padding-top: 0!important;
}
.font-1-2{
    font-size: 1.2em;
}
.font-1-6{
    font-size: 1.6em;
}
.main-bg-green{
    background-color: #00AA6C;
}
.main-bg-green:hover{
    background-color: #00AA6C;
}
.btn-green{
    background-color: #00AA6C!important;
}
.no-border{
    border: none!important;
}
.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:active{
    background-color: #00AA6C!important;
}
.main-text-green{
    color: #00AA6C;
}
.main-border-green{
    border:1px solid #00AA6C;
}
.first-main-container{
    padding-top: 60px;
    margin: 2rem;
}
.safari-header{
    position: absolute;
    left: 50%;
    margin-left: -20%;
    top: 50%;
    z-index: 1;
    color: #eee;
    text-shadow: 2px 2px 13px #111;
    transform: translate(-28%, 0px);
    width: 100%;
}
.post-item{
    padding: 5px 0;
    margin-bottom: 14px;
}
.creater-logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.social-box > .social-item{
    padding: 3px 15px;
}
.social-box > .social-item:hover i{
    color: #00AA6C;
}
.social-box > .social-item a{
    text-decoration: none;
}
.panner-right>.panner,
.panner-left>.panner{
    position: -webkit-sticky;
    position: sticky;
    top: 110px;
    padding: 5px;
    min-height: 500px;
    max-height: 500px;
}
.special-posts{
    max-height: 445px!important;
    min-height: 445px!important;
}
.posts-container{
    width: 45%;
}
.panner-left .filter-input:first-of-type{
    margin-top: 15px;
}
.panner-left .filter-input{
    margin-bottom: 15px;
    padding: 12px;
    height: auto;
    box-shadow: 0 0 2px rgba(0,0,0,.6);
    border: 2px solid #eee;
}
.panner-left .btn:hover{
    background-color: #00AA6C;
    color: #eeeeee;
}
.panner-left .btn{
    text-align: center;
    box-shadow: 0 0 4px rgba(0,170,108,1);
    transition: all  0.5s ease-in-out;
    width: 100%;
}
/* full details page */
.post-full-details .full-details{
    padding-top: 20px;
    padding-left: 10px;
}
.post-body .full-images{
    max-height: 400px;
     overflow: hidden;
}
.post-body .full-images img{
    max-height: 400px;
}
.aply-button{
    display: block;
    width: 60%;
    margin: auto;
    margin: 10px auto;
}
.post-details-container .post-details{
    padding:5px;
}
/*login*/
.limiter {
    width: 100%;
    margin: 0 auto;
}
body{
    font-family: 'Almarai', sans-serif;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
}
.first-main-container.login-bg ,
.main-bg-safary{
    background-attachment: fixed;
    padding-top: 60px!important;
    margin: 0;
    background-image: url("../img/slide-5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
}
.container-login100 {
    width: 100%;
    display: -webkit-box;
    /* display: -webkit-flex; */
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    position: relative;
    font-family: 'Cairo', sans-serif;
    font-family: 'Almarai', sans-serif;
    font-weight: bold;
}
.wrap-login100 {
    width: 500px;
    background: rgba(202,219,226,0.6);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 3px 20px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 3px 20px 0 rgba(0,0,0,.1);
    -webkit-box-shadow: 0 3px 20px 0 rgba(0,0,0,.1);
    -o-box-shadow: 0 3px 20px 0 rgba(0,0,0,.1);
    -ms-box-shadow: 0 3px 20px 0 rgba(0,0,0,.1);
}

.login100-form {
    width: 100%;
    position: relative;
    padding: 5px;
}
.p-r-55 {
    padding-right: 55px;
}
.p-l-55 {
    padding-left: 55px;
}
.p-t-178 {
    padding-top: 178px;
}
.login100-form-title {
    font-size: 30px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #00AA6C;
    padding-top: 50px;
    padding-bottom: 39px;
}
.validate-input {
    position: relative;
}

.wrap-input100 {
    width: 100%;
    background-color: #fff;
    border-radius: 27px;
    position: relative;
    z-index: 1;
}
.m-b-16 {
    margin-bottom: 16px;
}
.input100 {
    font-size: 15px;
    color: #1b3815;
    line-height: 1.2;
    position: relative;
    display: block;
    width: 100%;
    height: 55px;
    background: #ebebeb;
    border-radius: 27px;
    padding: 0 35px;
}
.login100-form {
    padding: 178px 10px 20px 10px;
}
.login100-form input {
    outline: none;
    border: none;
}
.focus-input100 {
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 31px;
    background-color: #ebebeb;
    pointer-events: none;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}
.txt1 {
    font-size: 15px;
    color: #111;
    line-height: 1.4;
}
.txt2 {
    font-size: 15px;
    color: #57b846;
    line-height: 1.4;
}
.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.login100-form-btn {
    border: 2px solid #eee;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    background-color: #57b846;
    border-radius: 25px;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}
/*search form*/
input[type='range'] {
    width: 210px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    outline: none;
}
input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: none;
}
input[type='range']::-webkit-slider-runnable-track {
    width: 200px;
    height: 1px;
    background: #003D7C;
}

input[type='range']:nth-child(2)::-webkit-slider-runnable-track{
    background: none;
}

input[type='range']::-webkit-slider-thumb {
    position: relative;
    height: 15px;
    width: 15px;
    margin-top: -7px;
    background: #fff;
    border: 1px solid #003D7C;
    border-radius: 25px;
    z-index: 1;
}


input[type='range']:nth-child(1)::-webkit-slider-thumb{
    z-index: 2;
}

.rangeslider{
    position: relative;
    height: 60px;
    width: 210px;
    display: inline-block;
    margin-top: -5px;
    margin-left: 20px;
}
.rangeslider input{
    position: absolute;
}
.rangeslider{
    position: absolute;
}

.rangeslider span{
    position: absolute;
    margin-top: 30px;
    left: 0;
}

.rangeslider .right{
    position: relative;
    float: right;
    margin-right: -5px;
}





.ajax-load{
    display:none;position: fixed; left: 0;right: 0;bottom: 30%;z-index: 1000;
}

/*bg glass important*/
.bg-glass{
    box-shadow: 0 0 1rem 0 rgba(77,151,228,.35);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
}
.bg-glass:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
}
